.blogHeader {
  width: 100%;
  background-color: #202124;
  height: auto;
}

.blogHeader .bloglogo {
  float: left;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}

.blogMenu {
  color: #fff
}

.blogHeader .blogmenu {
  float: right;
}

.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #3eaf7c;
  border-bottom: 2px solid #46bd87;
}
.ant-menu-submenu-popup > .ant-menu{
  background-color: #202124;
  color:#fff
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #3eaf7c;
}


.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #3eaf7c;
  border-bottom: 2px solid #46bd87;
}